<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.shaohuogun.picker.strategy.dao.StrategyMapper">
	<resultMap id="strategyResultMap" type="org.shaohuogun.picker.strategy.model.Strategy">
		<id property="id" column="id" />
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="lastModifier" column="last_modifier" />
		<result property="lastModifyDate" column="last_modify_date" />
		<result property="deleted" column="deleted" />
		<result property="urlRegex" column="url_regex" />
		<result property="name" column="name" />
		<result property="xml" column="xml"
			typeHandler="org.shaohuogun.picker.plugin.ibatis.BlobTypeHandler" />
	</resultMap>

	<insert id="insert" parameterType="org.shaohuogun.picker.strategy.model.Strategy">
		insert into PICKER_STRATEGY (id,
		creator, create_date, deleted, url_regex, name, xml)
		values (#{id}, #{creator},
		#{createDate}, #{deleted}, #{urlRegex}, #{name},
		#{xml})
	</insert>

	<select id="selectById" parameterType="java.lang.String"
		resultMap="strategyResultMap">
		select * from PICKER_STRATEGY where id = #{id}
	</select>

	<select id="selectByName" parameterType="java.lang.String"
		resultMap="strategyResultMap">
		select * from PICKER_STRATEGY where deleted = '0' and name = #{name}
	</select>
	
	<select id="selectAll" resultMap="strategyResultMap">
		select * from PICKER_STRATEGY where deleted = '0'
	</select>	
	
	<select id="selectFresh" parameterType="java.lang.String"
		resultMap="strategyResultMap">
		select * from PICKER_STRATEGY where deleted = '0' and ((create_date > #{refreshTime}) or ((last_modify_date > #{refreshTime}))
	</select>	
</mapper>

